<div class="landing">
  <div class="waves"></div>

  <div class="container_main --desktop">

    <div class="container_surf-data">
      <div class="container__relative-items">
        <app-surf-spot></app-surf-spot>
        <app-surf-prep-details></app-surf-prep-details>
      </div>
    </div>

    <div class="container_surf-title">
      <span class="title__top">The best surf <br/><span class="title__in">in</span> Orange County</span>
    </div>

    <div class="container_surf-prep-details--mobile">
      <app-surf-prep-details-mobile></app-surf-prep-details-mobile>
    </div>

  </div>

  <div class="container_main --mobile">
    Testing
  </div>
</div>
