
//Remember to remove important tags and figure out proper tag importance

//Phone
@media only screen
    and (max-device-width: 500px),
    only screen and (max-device-width: 500px),
    only screen and (max-width: 500px)
    {
      ::ng-deep {
        .--desktop {
          display: none!important;
        }
        .--mobile {
          display: inline-block!important;
        }
      }
}

//Ipad
@media only screen
    and (max-device-width: 1300px),
    only screen and (max-device-width: 1300px),
    only screen and (max-width: 1300px)
    {
      ::ng-deep {
        html body app-landing .landing .container_main {
          text-align: center;
            .container_surf-data {
              display: block!important;
              width: 500px!important;
              clear: both!important;
              position: relative!important;
              height: 200px!important;
              max-height: 300px;
              margin: 0 auto!important;
              float: none!important;
              padding-top: 45px;
              padding-bottom: 25px;
              .wave__height {
                margin-left: 0px;
              }
              .surf__prep-details-container {
                display: none;
              }
            }
            .container_surf-title {
              display: inline-block!important;
              width: inherit!important;
              clear: both!important;
              position: relative!important;
              height: inherit!important;
              max-height: 300px;
              margin: 0 auto!important;
              float: none!important;
            }
            .container__relative-items {
              padding-left: 0px!important;
              height: inherit;
            }
            .container_surf-prep-details--mobile {
              display: inline-block!important;
            }
        }
      }

}
