/* You can add global styles to this file, and also import other style files */

/* vars */
@import './vars.scss';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $secondary;
  background-color: $blueMid;
  background-image: url("/assets/background-pattern-bg.svg");
  background-repeat: repeat-x;
}
h1, h2, h3, h4 {
  font-family: $primary;
}
